VITE_SUPABASE_URL=https://crqfllccpemwryjvhijw.supabase.co
VITE_SUPABASE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNycWZsbGNjcGVtd3J5anZoaWp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY2NTU4OTksImV4cCI6MjA2MjIzMTg5OX0.5z7mGqz4-MYMAhlSbry7ad-WB1WbHTWa5tll42WB3tgX